.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  filter: invert(1);
  pointer-events: none;
  position: absolute;

  right: -0%;
  top: 1%
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: shrink-move 1s ease forwards;
    animation-delay: 0.5s;
  }
}


.App-header {
  background-color: #030207;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}